---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---
<h1>Courses</h1>

Spring 2022: NB2161 Bioinformatics (BSc Nanobiology, TU Delft).


<h1>Student projects</h1>

If you are looking for a research project (BSc or MSc thesis), please <a href="https://jbaaijens.github.io/contact/">reach out</a> [reach out](https://jbaaijens.github.io/contact/)!

<!-- {% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
 -->
